*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* For documment heading */

#heading{
    padding-top: 15px;
    font-size: 26px;
    font-family: 700;
    text-align: center;
    width: 350px;
    margin: auto;
    letter-spacing:2px;
}
#heading::before{
    content:' ';
    background-color: red;
    width: 70px;
    height: 5px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
#heading::after{
    content:' ';
    background-color: red;
    width: 70px;
    height: 5px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 280px; 
}

.card{
    width: 330px; 
    height: 300px;
    perspective: 500px;
    background-color: aqua;
    border-radius: 20px;
    
    
}
#main{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    
}
.inner{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform-style: preserve-3d;
    
}
.card:hover .inner{
    transform: rotateY(180deg);
}
.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 20px;
}
.front{

    background-color: rgb(174, 150, 150);
}
.back{
    background-color: rgb(255, 8, 0);
    transform: rotateY(180deg);
}
